# Database Configuration
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=8082
DB_DATABASE=recipes
DB_USERNAME=root
DB_PASSWORD=root

# Application Configuration
APP_ENV=local
APP_DEBUG=true
APP_KEY=

# Cache Configuration
CACHE_STORE=redis

# Redis Configuration
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_DB=1

# Ports Configuration
BACKEND_PORT=8000
NGINX_PORT=80
WEB_PORT=5173
MOBILE_PORT=8081
PHPMYADMIN_PORT=8080

# API URLs
VITE_API_URL=http://localhost:8000
EXPO_PUBLIC_API_URL=http://localhost:8000

